 h1 {color: #f0a050;}
 h2 {color: #020202;}
 h3 {color: #6fdfeef5;}
 p.sample1{border: inset 10px #ff0000;}
 p.sample2{border:inset 10px #fff570;}
 p.sample3{border:inset 10px #ff8000ce;}
 p.sample4{border:inset 10px #44ff15;}
 p.sample5{border:inset 10px #2af37ed7;}
 p.sample6{border:inset 10px #0066ff;}
 p.sample7{border:inset 10px #1384f5;}
 p.sample8{border:inset 10px #e194f8;}
 p.sample9{border:inset 10px #c850f7;}
 p.sample10{border:inset 10px #ff00aa;}
 
